/*BODY*/
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
:target {
  scroll-margin-top: 0.8em;
}
body {
  margin: 20px;
  background-color: rgb(255, 255, 255);
  font-family: "Almarena-normal", sans-serif;
}
h1,
h2 {
  color: #5503a6;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 10em;
  font-family: "Almarena-bold", sans-serif;
}
h2 {
  color: #000000;
  padding-top: 55px;
}
p {
  color: #000000;
  margin: 0;
  margin-top: 25px;
  font-size: 18px;
}
ul,
li {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  align-items: center;
}

.nav_bar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

/*ESPAÇAMENTOS*/
.space_01 {
  height: 20vh;
}
.space_02 {
  height: 5vh;
}
/*BARRA DE NAVEGAÇÃO*/
.img_logo {
  background-image: url(../imagens/logo_roxo_cg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 20px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_bar {
  width: 100%;
  height: 8vh;
  display: flex;
  gap: 750px;
  justify-content: center;
}
/*APRESENTAÇÃO*/
.geral_01 {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  gap: 250px;
}
.apresentacao {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  justify-content: center;
}
.intro_apresentacao {
  height: 15%;
  width: 100%;
}
.nome_apresentacao {
  height: 30%;
  width: 100%;
}
.text_apresentacao {
  height: 25%;
  width: 100%;
}
.whastapp_01 {
  height: 15%;
  width: 100%;
}
.img_cindy {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 400px;
}
.img_foto_cindy {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 130%;
  height: 130%;
  background-image: url(../imagens/foto-cindy.jpg);
  background-size: cover;
  background-position: center;
  z-index: 2;
  border-radius: 10px;
}
.img_foto_cindy_2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 130%;
  height: 130%;
  background-image: url(../imagens/foto_cindy_2.jpeg);
  background-size: cover;
  background-position: center;
  z-index: 2;
  border-radius: 10px;
}
.img_cindy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 130%;
  background-color: #5503a6;
  z-index: 1;
  border-radius: 10px;
  transform: translate(-10px, -10px);
}
/*PORTFÓLIO*/
#portfolio_geral {
  height: auto;
  display: flex;
  flex-direction: column;
}
.text_portfolio {
  background-color: rgb(226, 117, 39);
  height: 30vh;
}
.identidade_portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_apresentacao_portfólio {
  width: 50%;
  height: 200px;
}
.titulo_apresentacao {
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grid_apresentacao {
  width: 100%;
  height: 140vh;
}
.grid_apresentacao_social {
  width: 100%;
  height: 160vh;
}
.box_duplo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 55vh;
}
.box_duplo_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 55vh;
  flex-wrap: wrap;
}
.box_unico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 200px;
}
.id_01 {
  background-image: url(../imagens/cartão_visita_cindy.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: blue;
  width: 45%;
  height: 50vh;
  border-radius: 20px;
}
.id_02 {
  background-image: url(../imagens/caderno_id_restaurada.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(255, 174, 0);
  width: 45%;
  height: 50vh;
  border-radius: 20px;
}
.id_03 {
  background-image: url(../imagens/notebook_cindy.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(255, 174, 0);
  width: 100%;
  height: 70vh;
  border-radius: 20px;
}
.sm_01 {
  background-image: url(../imagens/pet_social.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: blue;
  width: 45%;
  height: 50vh;
  border-radius: 20px;
}
.sm_02 {
  background-image: url(../imagens/beleza_social.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(255, 174, 0);
  width: 45%;
  height: 50vh;
  border-radius: 20px;
}
.sm_03 {
  background-image: url(../imagens/mercado_social.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(255, 174, 0);
  width: 45%;
  height: 50vh;
  border-radius: 20px;
}
.sm_04 {
  background-image: url(../imagens/aquitetura_social.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(255, 174, 0);
  width: 45%;
  height: 50vh;
  border-radius: 20px;
}
.sm_05 {
  background-image: url(../imagens/construtora_social.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(255, 174, 0);
  width: 45%;
  height: 50vh;
  border-radius: 20px;
}
/*SOBRE*/
#geral_sobre {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
}
.foto_cindy_2 {
  width: 50%;
}
.apresentacao_sobre {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.titulo_sobre {
  height: 10%;
  width: 100%;
  display: flex;
}
.text_sobre {
  height: 65%;
  width: 100%;
}
/*ORÇAMENTO*/
#geral_orcamento {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text_orcamento {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title_orcamento {
  color: #000000;
  margin: 0;
  margin-top: 25px;
  font-size: 50px;
}
.titulo_orcamento {
  font-size: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.whastapp_02 {
  height: 10%;
  display: flex;
  justify-content: center;
}
/*FOOTER*/
.footer_cindy {
  width: 100%;
}
.direitos_dev {
  display: flex;
  position: relative;
  transform: rotate(0deg);
  margin-left: 0px;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}
/* Notebook (entre 992px e 1200px) */
@media (max-width: 1366px) and (min-width: 992px) {
  body {
    font-size: 15px;
    padding: 15px;
  }
  /*NAV BAR*/
  .nav_bar {
    width: 101%;
    height: 8vh;
    display: flex;
    gap: 630px;
    justify-content: center;
  }
  /*APRESENTAÇÃO INICIAL*/
  .geral_01 {
    width: 95%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
  }
  .box_unico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    width: 95%;
    height: 200px;
  }
  .box_duplo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    width: 100%;
    height: 55vh;
  }
  .text_apresentacao {
    height: 35%;
    width: 100%;
  }
  .apresentacao {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    justify-content: center;
  }
  /*PORTFÓLIO*/
  .grid_apresentacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*APRESENTAÇÃO SOBRE*/
  #geral_sobre {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 135px;
    align-items: center;
  }
  .apresentacao_sobre {
    width: 50%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
  }
  .text_identidade {
    text-align: justify;
  }
  /*AORÇAMENTO*/
  #geral_orcamento {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* Tablet (entre 768px e 991px) */
@media (max-width: 991px) and (min-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  .container {
    max-width: 800px;
  }
}

/* Celular (menor que 768px) */
@media (max-width: 767px) and (min-width: 481px) {
  body {
    font-size: 13px;
    padding: 8px;
  }

  .container {
    max-width: 100%;
  }
}

/* Celular pequeno (480px ou menos) */
@media (max-width: 480px) {
  body {
    font-size: 12px;
    padding: 5px;
  }
  p {
    color: #000000;
    margin: 0;
    margin-top: 25px;
    font-size: 18px;
  }
  h1 {
    font-size: 10em;
    font-family: "Almarena-bold", sans-serif;
  }
  ul,
  li {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    align-items: center;
  }
  /*APRESENTAÇÃO INICIAL*/
  .geral_01 {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 85px;
    align-items: center;
  }
  .intro_apresentacao {
    height: 19%;
    width: 100%;
  }
  .nome_apresentacao {
    height: 25%;
    width: 100%;
  }
  .text_apresentacao {
    height: 100%;
    width: 87vw;
  }
  .apresentacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    justify-content: center;
    align-items: center;
  }
  .whastapp_01 {
    height: 15%;
    width: 100%;
    padding-top: 60px;
  }
  .img_cindy {
    position: relative;
    display: inline-block;
    width: 95%;
    height: 220px;
  }
  .img_foto_cindy {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 90%;
    height: 85%;
    background-image: url(../imagens/foto-cindy-celular.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    border-radius: 10px;
  }
  .img_cindy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 90%;
    height: 25vh;
    background-color: #5503a6;
    z-index: 1;
    border-radius: 10px;
    transform: translate(-10px, -10px);
  }
  /*ESPAÇAMENTO*/
  .space_01 {
    height: 10vh;
  }
  .space_02 {
    height: 5vh;
  }

  .nav_bar {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    gap: 140px;
  }
  .img_logo {
    background-image: url(../imagens/logo_roxo_cg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 20px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*portfólio*/
  .text_apresentacao_portfólio {
    width: 100%;
    height: 200px;
    text-align: justify;
  }
  .box_duplo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50vh;
  }
  .box_duplo_social {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 140vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .id_01 {
    background-image: url(../imagens/cartão_visita_cindy-celular.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: blue;
    width: 100%;
    height: 26vh;
    border-radius: 20px;
  }
  .id_02 {
    background-image: url(../imagens/caderno_id_restaurada-celular.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: blue;
    width: 100%;
    height: 26vh;
    border-radius: 20px;
  }
  .id_03 {
    background-image: url(../imagens/notebook_cindy_celular.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: blue;
    width: 100%;
    height: 26vh;
    border-radius: 20px;
  }
  .sm_01 {
    background-image: url(../imagens/pet_social_celular.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: blue;
    width: 100%;
    height: 50vh;
    border-radius: 20px;
  }
  .sm_02 {
    background-image: url(../imagens/beleza_social_celular.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 174, 0);
    width: 100%;
    height: 50vh;
    border-radius: 20px;
  }
  .sm_03 {
    background-image: url(../imagens/mercado_social_celular.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 174, 0);
    width: 100%;
    height: 50vh;
    border-radius: 20px;
  }
  .sm_04 {
    background-image: url(../imagens/aquitetura_social_celular.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 174, 0);
    width: 100%;
    height: 50vh;
    border-radius: 20px;
  }
  .sm_05 {
    background-image: url(../imagens/construtora_social_celular.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 174, 0);
    width: 100%;
    height: 50vh;
    border-radius: 20px;
  }
  .grid_apresentacao {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    height: 100vh;
  }
  #portfolio_geral {
    height: 310vh;
    display: flex;
    flex-direction: column;
  }
  /*sobre*/
  .text_sobre {
    height: 65%;
    width: 100%;
    text-align: justify;
  }
  #geral_sobre {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  .img_foto_cindy_2 {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 90%;
    height: 25vh;
    background-image: url(../imagens/foto_cindy_2_celular.jpeg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    border-radius: 10px;
  }
  .apresentacao_sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  /*orçamento*/
  .text_orcamento {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title_orcamento {
    color: #000000;
    margin: 0;
    /* margin-top: 8px; */
    font-size: 23px;
    text-align: end;
  }
  #geral_orcamento {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .titulo_orcamento {
    font-size: 31px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /*footer*/
  .footer_cindy {
    /* height: 5vh; */
    width: 100%;
  }
  .direitos_dev {
    display: flex;
    position: relative;
    transform: rotate(0deg);
    margin-left: 0px;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
  }

  /* Estilo base do menu */
  .nav {
    display: none; /* Oculto por padrão */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
    padding: 1rem;
    border-radius: 8px;
    z-index: 10;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  /* Estilo dos itens do menu */
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav ul li {
    margin: 10px 0;
  }

  .nav ul li a {
    color: white;
    text-decoration: none;
  }

  /* Mostra o menu quando o checkbox está marcado */
  #burger:checked ~ .nav {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
}
